.border-error {
    border: 1px solid red;
}
.text-error {
    color: red;
}
.login-wrap-input {
    padding: 10px 0 10px;
    input {
        padding: 5px 10px;
        width: 395px;
        outline: none;
    }
    p {
        margin: 0;
        font-size: 12px;
        height: 6px;
    }
}
.login-d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px;
    input {
        width: 190px;
        padding: 5px 10px;
        outline: none;
    }
    select {
        width: 190px;
        padding: 5px 10px;
        outline: none;
        border: 1px solid #737373;
        color: #7c7c7c;
    }
    span {
        color: #7c7c7c;
        width: 130px;
        font-size: 28px;
        text-align: center;
        font-weight: 600;
        text-decoration: line-through;
    }
    .login-loading {
        color: #7c7c7c;
        width: 60px;
        font-size: 28px;
        margin-right: 15px;
        &:hover {
            color: #e26435;
            cursor: pointer;
        }
    }
    p {
        margin: 0;
        font-size: 12px;
        height: 6px;
    }
}
.login-policy {
    display: flex;
    padding-top: 10px;
    align-items: center;
    margin-bottom: 16px;
    input {
        margin-right: 5px;
    }
    p {
        font-size: 14px;
        font-weight: 600;
        color: #7c7c7c;
        margin: 0;
    }
    a {
        font-size: 16px;
        color: #f26b38;
    }
}
.login-wrap-button {
    padding: 5px 0 20px;
    button {
        width: 395px;
        padding: 10px 0;
        background: #f26b38;
        border: 0;
        color: white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            background: #e26435;
        }
    }
}
