.account-outside {
    position: absolute;
    width: 155px;
    height: 175px;
    border: 1px solid transparent;
    background: white;
    border-radius: 5px;
    .account-head {
        width: 155px;
        height: 40px;
        background: #cdcdcd;
        margin: -1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .account-logo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 22px 0 0 63px;
        }
    }
    .account-main {
        text-align: center;
        padding-top: 14px;
        .account-main-label {
            margin-bottom: 5px;
            h5 {
                margin-bottom: -5px;
            }
            a {
                font-size: 10px;
                text-decoration: none;
                color: black;
            }
        }
        .account-main-item {
            display: flex;
            padding: 1px 10px;
            &:hover {
                cursor: pointer;
                background: #c0c0c036;
            }
            .account-icon {
                width: 10px;
            }
            p {
                font-size: 13px;
                padding-left: 10px;
                margin: 0;
            }
        }
    }
}
