.container {
    width: 1090px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.banner-wrap {
    a {
        display: none;
    }
    .carousel-indicators {
        display: none;
    }
}
.banner-label {
    position: relative;
    .banner {
        height: 100vh;
    }
    .banner-wrap-title {
        width: 100%;
        position: absolute;
        top: 70px;
        h1 {
            color: white;
            margin-bottom: 10px;
            text-align: end;
        }

        a {
            text-align: end;
        }
    }
}
