.border-error {
    border: 1px solid red;
}
.text-error {
    color: red;
}
.login-wrap {
    position: absolute;
    top: 55px;
    left: 470px;
    width: 435px;
    background: white;
    border-radius: 10px;
    z-index: 9;
    padding: 20px;
    .login-x-mark {
        font-size: 20px;
        float: right;
        opacity: 0.2;
        padding-right: 6px;
        &:hover {
            cursor: pointer;
            background: #000000;
            padding: 1px 6px;
            border-radius: 50%;
            color: white;
        }
    }
    .login-title {
        display: flex;
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0 10px;
        .login-wrap-title {
            a {
                color: #7c7c7c;
                position: relative;
                cursor: pointer;
                padding-bottom: 5px;
                &:hover {
                    color: #f26b38;
                    border-bottom: 2px solid #f26b38;
                }
            }
        }
        span {
            padding: 0 15px;
            color: #7c7c7c;
        }
    }
}
.actives {
    color: #f26b38 !important;
    border-bottom: 2px solid #f26b38;
}
.login-second-content {
    height: 250px;
    padding-top: 45px;
    .login-wrap-check {
        width: 100px;
        height: 100px;
        background: greenyellow;
        border-radius: 50%;
        margin: auto;
        .login-check {
            color: white;
            width: 100%;
            height: 87%;
            margin-top: 8px;
        }
        p {
            font-size: 24px;
            margin-top: 10px;
            font-weight: 600;
            color: wheat;
            margin-left: -6px;
        }
    }
}
