.border-error {
    border: 1px solid red;
}
.text-error {
    color: red;
}
.login-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 40px #0000004a;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 80px;
    .login-content {
        width: 435px;
    }
    .login-title {
        display: flex;
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0 10px;
        .login-wrap-title {
            a {
                color: #7c7c7c;
                position: relative;
                cursor: pointer;
                padding-bottom: 5px;
                &:hover {
                    color: #f26b38;
                    border-bottom: 2px solid #f26b38;
                }
            }
        }
        span {
            padding: 0 15px;
            color: #7c7c7c;
        }
    }
}
.actives {
    color: #f26b38 !important;
    border-bottom: 2px solid #f26b38;
}
