* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.col-6 {
    width: 50%;
}
.container {
    width: 1090px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.happen {
    background-color: red;
    color: white;
}
.booked {
    color: red;
}
.choose {
    color: blue;
    cursor: pointer;
}
.none {
    cursor: pointer;
}
.hidden {
    display: none;
}
.theatre-img {
    width: 100%;
    height: 100%;
    position: fixed;
}
.theatre-wrapper {
    position: relative;
    top: 670px;
    .theatre-first-main {
        position: absolute;
        width: 1090px;
        top: -555px;
        display: flex;
        align-items: center;
        padding: 0;
        .theatre-title {
            color: white;
            label {
                font-size: 24px;
                font-weight: 600;
            }
            p {
                font-size: 14px;
                font-weight: 600;
                margin: 0;
            }
        }
        .theatre-wrap-time {
            display: flex;
            justify-content: space-between;
        }
    }
    .theatre-second-main {
        height: 425px;
        width: 1090px;
        display: flex;
        position: absolute;
        bottom: 245px;
        background: radial-gradient(black, transparent);
        color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 0;
        .theatre-wrap-sidebar {
            padding: 15px 0 0 40px;
            .theatre-choose-place {
                label {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            .theatre-d-flex {
                display: flex;
                border-bottom: 3px dotted silver;
                padding: 20px 0;
                .theatre-row-one {
                    display: flex;
                    flex-direction: column;
                    width: 215px;
                    .theatre-row-items {
                        display: flex;
                        p {
                            margin: 0;
                            font-weight: 600;
                        }
                        span {
                            padding-left: 20px;
                            font-weight: 600;
                        }
                    }
                }
            }
            .theatre-checkout {
                padding: 10px 0;
                label {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            .theatre-price {
                display: flex;
                align-items: center;
                font-size: 18px;
                padding-bottom: 10px;
                span {
                    padding-left: 10px;
                }
            }
        }
        table {
            width: 95%;
            margin: 10px 0 0 15px;
            .text {
                padding-right: 10px;
            }
            td {
                text-align: center;
            }
        }
        .theatre-chair {
            display: flex;
            justify-content: space-evenly;
            padding-top: 20px;
            .theatre-chair-classification {
                height: 25px;
                display: flex;
                align-items: center;
                p {
                    margin: 0;
                    padding-left: 10px;
                }
            }
        }
    }
}
// Check Out
.checkout-wrap {
    width: 450px;
    height: 400px;
    background: white;
    position: fixed;
    top: 100px;
    left: 450px;
    z-index: 9;
    .checkout-close-button {
        float: right;
        margin: 15px 15px 0 0;
    }
    p {
        font-size: 26px;
        font-weight: 700;
        padding: 30px 0 0 25px;
    }
    .checkout-wrap-bill {
        padding-top: 10px;
        .checkout-bill {
            display: flex;
            font-weight: 600;
            justify-content: space-between;
            padding: 0px 25px 0;
            p {
                font-size: 16px;
                margin: 0;
                padding: 0;
            }
        }
    }
    .checkout-wrap-infomation {
        padding: 5px 0 15px 0;
        .checkout-input {
            padding-left: 5px;
            display: flex;
            border: 1px solid silver;
            width: 90%;
            border-radius: 3px;
            margin: 5px 0 0 25px;
            p {
                font-size: 16px;
                font-weight: 600;
                margin: 0;
                padding: 0;
            }
            input {
                outline: none;
                border: none;
                padding-left: 10px;
                font-weight: 600;
            }
        }
    }
    .checkout-wrap-button {
        width: 100%;
        padding-left: 100px;
    }
}
